@charset "UTF-8";
* {
    font-family: sans-serif;
}

body {
    position: relative;
    right: 0;
    top: 0;
    width: 400px;
    height: 300px;
    margin: 0;
    padding: 0;
}

div.myPage {
    margin: 0;
    width: 300px;
    height: 228px;
    padding: 1px 0px 0px 0px;
    margin: 0;
    background-color: rgb(190, 190, 190);
}

.myPage > ul {
    list-style: none;
    font-size: 13pt;
    padding: 0;
    margin:0px 0px 10px 0px;
}

.myPage > ul > li {
    margin: 18px 0px 0px 30px;
    color:white;
}

#btnMyPoint {
    padding:3px 8px 1px 8px;
    margin:0px 0px 0px 30px;
    border:1px solid white;
    color:white;
    text-decoration: none;
    font-size:11pt;
}

#btnMyPoint:hover {
   cursor:pointer;
   color:rgb(86, 49, 206);
   border:1px solid rgb(86, 49, 206);
}


.myPage > ul > li:last-child > button {
    color: white;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    font-size: 11pt;
    background-color:rgb(190, 190, 190);
    border:0;
}

.myPage > ul > li:last-child {
    margin: 10px 0px 0px 0px;
    width: 289px;
    padding: 3px 0px 0px 5px;
    height: 27px;
    background-color: rgb(190, 190, 190);
    border: 2px solid white;
    border-right: 0;
    border-left: 0;
}

.myPage > ul > li:nth-child(4):hover{
    border-top: 1px solid rgb(86, 49, 206);
    border-bottom: 1px solid rgb(86, 49, 206);
}
.myPage > ul > li:last-child > button:hover {
    font-weight: bold;
    cursor: pointer;
    color:rgb(86, 49, 206);
}

.myPage > button {
    width: 200px;
    height: 27px;
    background-color: rgb(190, 190, 190);
    border: 2px solid white;
    font-size: 11pt;
    margin: 0px 0px 0px 45px;
    color:white;
}

.myPage > button:hover {
    color:rgb(86, 49, 206);
    cursor:pointer;
    border: 1px solid rgb(86, 49, 206);;
}










