<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>SurveyPro</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>jdbc Servlet</description>
		<res-ref-name>jdbc/servlet</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<servlet-name>member</servlet-name>
		<servlet-class>com.surveypro.controller.FrontController</servlet-class>
		<init-param>
			<param-name>MemberInsert.do</param-name>
			<param-value>com.surveypro.member.controller.MemberInsertController</param-value>
		</init-param>
		<init-param>
			<param-name>MemberEmailCheck.do</param-name>
			<param-value>com.surveypro.member.controller.MemberEmailCheckController</param-value>
		</init-param>
		<init-param>
			<param-name>MemberNickCheck.do</param-name>
			<param-value>com.surveypro.member.controller.MemberNickCheckController</param-value>
		</init-param>
		<init-param>
			<param-name>Login.do</param-name>
			<param-value>com.surveypro.member.controller.MemberLoginController</param-value>
		</init-param>
		<init-param>
			<param-name>Logout.do</param-name>
			<param-value>com.surveypro.member.controller.MemberLogoutController</param-value>
		</init-param>
		<init-param>
			<param-name>SendTempPass.do</param-name>
			<param-value>com.surveypro.member.controller.SendTempPassController</param-value>
		</init-param>
		<init-param>
			<param-name>MemberWithdrawInsert.do</param-name>
			<param-value>com.surveypro.member.controller.MemberWithdrawInsertController</param-value>
		</init-param>
		<init-param>
			<param-name>MemberPassChange.do</param-name>
			<param-value>com.surveypro.member.controller.MemberPassChangeController</param-value>
		</init-param>
		<init-param>
			<param-name>SurveyGetSurveyInfo.do</param-name>
			<param-value>com.surveypro.survey.controller.SurveyGetSurveyInfoController</param-value>
		</init-param>
		<init-param>
			<param-name>SurveyGetByCategory.do</param-name>
			<param-value>com.surveypro.survey.controller.SurveyGetByCategoryController</param-value>
		</init-param>
		<init-param>
			<param-name>CategoryGetDesc.do</param-name>
			<param-value>com.surveypro.category.controller.CategoryGetDescController</param-value>
		</init-param>
		<init-param>
			<param-name>CategoryGetAll.do</param-name>
			<param-value>com.surveypro.category.controller.CategoryGetAllController</param-value>
		</init-param>
		<init-param>
			<param-name>CategoryGetAllDesc.do</param-name>
			<param-value>com.surveypro.category.controller.CategoryGetAllDescController</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>member</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.surveypro.controller.DAOCreator</listener-class>
	</listener>
	<context-param>
		<param-name>MemberDAO</param-name>
		<param-value>com.surveypro.dao.MemberDAO</param-value>
	</context-param>
	<context-param>
		<param-name>SurveyInfoDAO</param-name>
		<param-value>com.surveypro.dao.SurveyInfoDAO</param-value>
	</context-param>
	<context-param>
		<param-name>WithdrawDAO</param-name>
		<param-value>com.surveypro.dao.WithdrawDAO</param-value>
	</context-param>
</web-app>