<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>SurveyPro</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>jdbc Servlet</description>
		<res-ref-name>jdbc/knj</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<servlet-name>servlet</servlet-name>
		<servlet-class>com.surveypro.controller.FrontController</servlet-class>
		<init-param>
			<param-name>MemberInsert.do</param-name>
			<param-value>com.surveypro.member.controller.MemberInsertController</param-value>
		</init-param>
		<init-param>
			<param-name>MemberEmailCheck.do</param-name>
			<param-value>com.surveypro.member.controller.MemberEmailCheckController</param-value>
		</init-param>
		<init-param>
			<param-name>MemberNickCheck.do</param-name>
			<param-value>com.surveypro.member.controller.MemberNickCheckController</param-value>
		</init-param>
		<init-param>
			<param-name>Login.do</param-name>
			<param-value>com.surveypro.member.controller.MemberLoginController</param-value>
		</init-param>
		<init-param>
			<param-name>Logout.do</param-name>
			<param-value>com.surveypro.member.controller.MemberLogoutController</param-value>
		</init-param>
		<init-param>
			<param-name>SendTempPass.do</param-name>
			<param-value>com.surveypro.member.controller.SendTempPassController</param-value>
		</init-param>
		<init-param>
			<param-name>MemberWithdrawInsert.do</param-name>
			<param-value>com.surveypro.member.controller.MemberWithdrawInsertController</param-value>
		</init-param>
		<init-param>
			<param-name>MemberPassChange.do</param-name>
			<param-value>com.surveypro.member.controller.MemberPassChangeController</param-value>
		</init-param>
		<init-param>
			<param-name>SurveyGetSurveyInfo.do</param-name>
			<param-value>com.surveypro.survey.controller.SurveyGetSurveyInfoController</param-value>
		</init-param>
		<init-param>
			<param-name>SurveyGetByCategory.do</param-name>
			<param-value>com.surveypro.survey.controller.SurveyGetByCategoryController</param-value>
		</init-param>
		<init-param>
			<param-name>CategoryGetDesc.do</param-name>
			<param-value>com.surveypro.category.controller.CategoryGetDescController</param-value>
		</init-param>
		<init-param>
			<param-name>CategoryGetAll.do</param-name>
			<param-value>com.surveypro.category.controller.CategoryGetAllController</param-value>
		</init-param>
		<init-param>
			<param-name>CategoryGetAllDesc.do</param-name>
			<param-value>com.surveypro.category.controller.CategoryGetAllDescController</param-value>
		</init-param>
		<init-param>
			<param-name>MemberLoginCheck.do</param-name>
			<param-value>com.surveypro.member.controller.MemberLoginCheckController</param-value>
		</init-param>
		<init-param>
			<param-name>SurveyInsert.do</param-name>
			<param-value>com.surveypro.survey.controller.SurveyInsertController</param-value>
		</init-param>
		<init-param>
			<param-name>ReportGetAll.do</param-name>
			<param-value>com.surveypro.report.controller.ReportGetAllController</param-value>
		</init-param>
		<init-param>
			<param-name>ReportApprove.do</param-name>
			<param-value>com.surveypro.report.controller.ReportApproveController</param-value>
		</init-param>
		<init-param>
			<param-name>ReportRemove.do</param-name>
			<param-value>com.surveypro.report.controller.ReportRemoveController</param-value>
		</init-param>
		<init-param>
			<param-name>CheckAdminAccess.do</param-name>
			<param-value>com.surveypro.member.controller.MemberCheckAdminAccessController</param-value>
		</init-param>
		<init-param>
			<param-name>QuestionInsert.do</param-name>
			<param-value>com.surveypro.question.controller.QuestionInsertController</param-value>
		</init-param>
		<init-param>
			<param-name>ChoiceInsert.do</param-name>
			<param-value>com.surveypro.choice.controller.ChoiceInsertController</param-value>
		</init-param>
		<init-param>
			<param-name>GetSurvey.do</param-name>
			<param-value>com.surveypro.survey.controller.SurveyGetBySurveyCodeController</param-value>
		</init-param>
		<init-param>
			<param-name>GetQuestion.do</param-name>
			<param-value>com.surveypro.question.controller.QuestionGetController</param-value>
		</init-param>
		<init-param>
			<param-name>GetChoice.do</param-name>
			<param-value>com.surveypro.choice.controller.ChoiceGetController</param-value>
		</init-param>
		<init-param>
			<param-name>ChoiceResultInsert.do</param-name>
			<param-value>com.surveypro.choiceresult.controller.ChoiceResultInsertController</param-value>
		</init-param>
		<init-param>
			<param-name>SubjectiveResultInsert.do</param-name>
			<param-value>com.surveypro.subjectiveresult.controller.SubjectiveResultInsertController</param-value>
		</init-param>
		<init-param>
			<param-name>ReportInsert.do</param-name>
			<param-value>com.surveypro.report.controller.ReportInsertController</param-value>
		</init-param>
		<init-param>
			<param-name>InterestInsert.do</param-name>
			<param-value>com.surveypro.interest.controller.InterestInsertController</param-value>
		</init-param>
		<init-param>
			<param-name>InterestCheck.do</param-name>
			<param-value>com.surveypro.interest.controller.InterestCheckController</param-value>
		</init-param>
		<init-param>
			<param-name>ReportCheck.do</param-name>
			<param-value>com.surveypro.report.controller.ReportCheckController</param-value>
		</init-param>
		<init-param>
			<param-name>QuestionResultGet.do</param-name>
			<param-value>com.surveypro.result.controller.QuestionResultGetController</param-value>
		</init-param>
		<init-param>
			<param-name>PointHistoryInsertRespondent.do</param-name>
			<param-value>com.surveypro.pointhistory.controller.PointHistoryInsertRespondentController</param-value>
		</init-param>
		<init-param>
			<param-name>SurveyPriceUpdate.do</param-name>
			<param-value>com.surveypro.survey.controller.SurveyPriceUpdateController</param-value>
		</init-param>
		<init-param>
			<param-name>SurveyCheckResponse.do</param-name>
			<param-value>com.surveypro.survey.controller.SurveyCheckResponseController</param-value>
		</init-param>
		<init-param>
			<param-name>SurveyGetMySurveyInfo.do</param-name>
			<param-value>com.surveypro.survey.controller.SurveyGetByMySurveyController</param-value>
		</init-param>
		<init-param>
			<param-name>SurveyInsertCheck.do</param-name>
			<param-value>com.surveypro.survey.controller.SurveyInsertCheckController</param-value>
		</init-param>
		<init-param>
			<param-name>UpdateAllMembers.do</param-name>
			<param-value>com.surveypro.member.controller.MemberUpdateAllController</param-value>
		</init-param>
		<init-param>
			<param-name>SurveyGetClosedList.do</param-name>
			<param-value>com.surveypro.survey.controller.SurveyGetClosedListController</param-value>
		</init-param>
		<init-param>
			<param-name>BuyAndSell.do</param-name>
			<param-value>com.surveypro.pointhistory.controller.PointHistoryBuyAndSellController</param-value>
		</init-param>
		<init-param>
			<param-name>PointHistoryGetList.do</param-name>
			<param-value>com.surveypro.pointhistory.controller.PointHistoryGetListController</param-value>
		</init-param>
		<init-param>
			<param-name>MemberMyPageUpdate.do</param-name>
			<param-value>com.surveypro.member.controller.MemberMyPageUpdateController</param-value>
		</init-param>
		<init-param>
			<param-name>CheckResultView.do</param-name>
			<param-value>com.surveypro.result.controller.ResultViewCheckController</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>servlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.surveypro.controller.DAOCreator</listener-class>
	</listener>
	<context-param>
		<param-name>MemberDAO</param-name>
		<param-value>com.surveypro.dao.MemberDAO</param-value>
	</context-param>
	<context-param>
		<param-name>SurveyInfoDAO</param-name>
		<param-value>com.surveypro.dao.SurveyInfoDAO</param-value>
	</context-param>
	<context-param>
		<param-name>WithdrawDAO</param-name>
		<param-value>com.surveypro.dao.WithdrawDAO</param-value>
	</context-param>
	<context-param>
		<param-name>CategoryDAO</param-name>
		<param-value>com.surveypro.dao.CategoryDAO</param-value>
	</context-param>
	<context-param>
		<param-name>SurveyDAO</param-name>
		<param-value>com.surveypro.dao.SurveyDAO</param-value>
	</context-param>
	<context-param>
		<param-name>ReportDAO</param-name>
		<param-value>com.surveypro.dao.ReportDAO</param-value>
	</context-param>
	<context-param>
		<param-name>QuestionDAO</param-name>
		<param-value>com.surveypro.dao.QuestionDAO</param-value>
	</context-param>
	<context-param>
		<param-name>ChoiceDAO</param-name>
		<param-value>com.surveypro.dao.ChoiceDAO</param-value>
	</context-param>
	<context-param>
		<param-name>ChoiceResultDAO</param-name>
		<param-value>com.surveypro.dao.ChoiceResultDAO</param-value>
	</context-param>
	<context-param>
		<param-name>SubjectiveResultDAO</param-name>
		<param-value>com.surveypro.dao.SubjectiveResultDAO</param-value>
	</context-param>
	<context-param>
		<param-name>InterestDAO</param-name>
		<param-value>com.surveypro.dao.InterestDAO</param-value>
	</context-param>
	<context-param>
		<param-name>QuestionResultDAO</param-name>
		<param-value>com.surveypro.dao.QuestionResultDAO</param-value>
	</context-param>
	<context-param>
		<param-name>PointHistoryDAO</param-name>
		<param-value>com.surveypro.dao.PointHistoryDAO</param-value>
	</context-param>
	<context-param>
		<param-name>AdminDAO</param-name>
		<param-value>com.surveypro.dao.AdminDAO</param-value>
	</context-param>
</web-app>